@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #ffffff;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    margin-top: -35px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #2c3e50;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 50px;
    margin-right: -80px;
}

.paw {
    margin-bottom: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #2B3348;
    font-size: 24px;
    transition: color 0.3s;
    font-family: "Montserrat", sans-serif;

}

.nav-links a {
    background-image: linear-gradient(to right, #352384, rgba(247, 151, 106, 1));
    background-repeat: no-repeat;
    background-size: 10px 2px;
    background-position: left bottom;
    padding-bottom: 2px;
    text-decoration: none;
    transition: 0.3s;
}


a:hover {
    background-size: 100% 2px;
}

.nav-links a:hover {
    color: #2c3e50;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 40px;
}

.dog {
    margin-left: 485px;
    margin-top: -450px;
}

.dog-title {
    font-size: 180px;
    font-weight: bold;
    color: #2B3348;
    margin-bottom: 15px;
    margin-right: 717px;
    text-transform: uppercase;
    font-family: "Holtwood One SC", serif;
}

.subtitle {
    font-size: 32px;
    color: #7f8c8d;
    margin-bottom: 40px;
    margin-right: 802px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    color: #2B3348;
    white-space: nowrap;
    font-weight: 100;
}

.cta-button {
    display: inline-block;
    background-color: #FA996B;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 983px;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;

}

.cta-button:hover {
    background-color: #f6e366;
    color: #ffffff;
    border-color: #f6e366;
    transform: scale(1.1);
    filter: brightness(1.2);
}

.pet1 {
    margin-top: -1000px;
    margin-left: 820px;
}

.main-title {
    text-align: center;
    margin: 0 0 30px;
    font-size: 32px;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Holtwood One SC", serif;
    color: #2B3348;
}

.decorative-text {
    text-align: center;
    font-size: 18px;
    color: #7f8c8d;
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
    width: 450px;

}

.best-in {
    text-align: center;
    margin: 60px 0 30px;
    font-size: 24px;
    color: #2c3e50;
    position: relative;
}

.best-in:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #e74c3c;
    margin: 15px auto;
}


.decorative-box {
    margin-left: 700px;
    margin-top: -300px;
}

.img2 {
    margin-left: 110px;
    margin-top: 30px;
}

.human {
    margin-top: -400px;
    margin-left: -50px;
    margin-bottom: 400px;
}

.weare {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 120px;
    flex-wrap: nowrap;
}

.square {
    width: 106px;
    height: 106px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.square img {
    width: 90px;
    height: auto;
}

.square.dark {
    background-color: #2B3348;
}

.square.light {
    background-color: #FA996B;
}

.square:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
}

.care-text {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    color: #2B3348;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-family: "Montserrat", sans-serif;
}

.care-text.show {
    opacity: 1;
    transform: translateY(0);
}

.bestitle {
    color: #2B3348;
    font-size: 48px;
    text-align: center;
    margin-top: -260px;
    font-family: "Hammersmith One", sans-serif;
    letter-spacing: 5%;
    font-weight: 100px;
}

.shopan {
    font-size: 48px;
    color: #2B3348;
    font-family: "Hammersmith One", sans-serif;
    text-align: center;
    margin-top: -95px;

}

.button-line {
    margin-top: 95px;
    display: flex;
    gap: 274px;
    justify-content: space-between;
}

.contacts {
    position: relative;
}

.hc {
    position: absolute;
    left: 80%;
    bottom: 40px;
    color: white;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.hc-1 {
    position: absolute;
    left: 80%;
    bottom: 80px;
    color: #FA996B;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.button-shop {
    padding: 10px 37px 10px 37px;
    font-weight: 200px;
    border-radius: 10px;
    font-size: 32px;
    font-family: "Hammersmith One", sans-serif;
    cursor: pointer;
}

.btncolor {
    background-color: #2B3348;
    color: #f6e366;

}

.btn2color {
    background-color: #f6e366;
    color: #2B3348;
    border: none;
    margin-left: 45px;
}

.line-img {
    margin-top: 140px;
    display: flex;
    gap: 210px;
}

.stay {
    font-size: 48px;
    color: #2B3348;
    margin-top: 70px;
    font-family: "Hammersmith One", sans-serif;
    margin-bottom: -20px;
    margin-left: px;
}

.login-space {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    margin-left: 750px;
    margin-top: 100px;

}

#email {
    margin-top: 20px;
    padding: 6px;
    border-radius: 5px;
    border-color: #2B3348;
}

#password {
    margin-top: 10px;
    padding: 6px;
    border-radius: 5px;
    border-color: #2B3348;
}

.btn-log {
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: none;
    color: #2B3348;
    font-weight: 500px;
    cursor: pointer;
    margin-top: 15px;
    background-color: #f6e366;
    padding: 10px 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.btn-log:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
    background-color: #FA996B;
}

.btn-log2 {
    width: 150px;
    border-radius: 10px;
    background-color: #FA996B;
    border-color: #FA996B;
    font-size: 20px;
    margin-left: 250px;
    margin-top: -55px;
    font-family: "Hammersmith One", sans-serif;
    font-weight: 100px;
    padding: 5px;
    cursor: pointer;
}

.login2 {
    color: #2B3348;
    font-size: 32px;
    margin-top: 20px;
    text-align: center;
    font-family: "Hammersmith One", sans-serif;
}

.goldog {
    margin-top: -330px;
}

.news {
    color: #2B3348;
    font-size: 14px;
    font-weight: 100px;
}

.social-media {
    background-color: #2B3348;
    padding: 100px;
    margin-left: -250px;
    margin-right: -180px;
    margin-top: 300px;
    margin-bottom: -30px;
}

.socialbox {
    margin-left: 150px;
    display: flex;
    gap: 20px;
}

.textt {
    color: #ffffff;
    font-family: "Hammersmith One", sans-serif;
    font-size: 24px;
    margin-left: 150px;
    margin-bottom: 30px;
    margin-top: -50px;
}

.circle {
    width: 127px;
    height: 127px;
    border-radius: 50%;
    background: #9E9CF1;
}

.kidness {
    font-size: 48px;
    color: #FA996B;
    text-align: center;
    font-family: "Hammersmith One", sans-serif;
    margin-bottom: -60px;
    margin-left: -950px;
    margin-top: 100px;

}

.yellowbl {
    margin-bottom: -135px;
    margin-left: -250px;
}

.cutedog {
    margin-left: 780px;
    margin-top: -900px;
    margin-bottom: 150px;
}

.donationmotivation {
    font-family: "Hammersmith One", sans-serif;
    color: #2B3348;
    margin-top: 30px;
    font-size: 30px;
    text-align: left;

}


.donatemot {
    color: #2B3348;
    margin-top: 20px;

}

.donatebtn {
    background-color: #FA996B;
    border-color: #FA996B;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800px;
    box-shadow: none;
    cursor: pointer;
    margin-left: 900px;
    margin-top: 200px;
    position: absolute;
    z-index: 50;

}

.donatebtn:hover {
    background-color: #f6e366;
    color: #ffffff;
    border-color: #f6e366;
    transform: scale(1.1);
    filter: brightness(1.2);
    transition: transform 0.3s ease;

}

.don {
    width: 560px;
    margin-top: 300px;

}

.cr1 {
    margin-left: 200px;
    margin-top: 50px;
}

.scroll-to-top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #FA996B;
    border-radius: 50%;
    padding: 20px 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.scroll-to-top-button img {
    width: 24px;
    height: 24px;
}

.textdon {
    margin-top: -600px;
}

.catplay {
    margin-left: 800px;
    margin-top: -100px;
    width: 400px;
    position: relative;
    top: 250px;

}

.imgline {
    margin-left: -100px;
    margin-top: -530px;
    margin-bottom: 200px;

}

.titlewhy {
    color: #2c3e50;
    font-size: 36px;
    font-family: "Hammersmith One", sans-serif;

}

.textwhy {
    color: #2c3e50;
    font-size: 24px;
    margin-top: 50px;
}

.whyyou {
    margin-top: 100px;
    width: 600px;
    margin-bottom: 300px;
}

.orangebl {
    border-radius: 0 10px 10px 0;
    width: 1000px;
    height: 75px;
    background-color: #FA996B;
    margin-top: 150px;
    margin-left: -400px;
    margin-bottom: -165px;
}

.bluebl {
    width: 45px;
    height: 430px;
    background-color: #2c3e50;
    margin-left: 870px;
    margin-top: 85px;
    margin-bottom: -520px;
    border-radius: 0 0 10px 10px;
}

.animal-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 270px;

}

.row {
    display: flex;
    gap: 200px;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.animal-card {
    width: 270px;
    height: 270px;
    border-radius: 10px;
    background-color: #ccc;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1;
}


.button-line {
    display: flex;
    justify-content: center;
    gap: 390px;
    margin: 50px 0;
    flex-wrap: wrap;
}

.button-shop {
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    background-color: #2c2f48;
    color: #ffeb5b;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 0 #00000050;
    transition: background 0.3s;
}


.cat-block {
    background-color: #d1eaff;
}

.dog-block {
    background-color: #ffe8c2;
}



.navbar {
    background-color: white;
    padding: 10px 20px;
    position: relative;

}

.burger {
    font-size: 30px;
    color: #2B3348;
    background: none;
    border: none;
    cursor: pointer;
}



.nav-links2.active {
    display: flex;
}

.nav-links2 li {
    border-bottom: 1px solid #555;
}

.nav-links2 li:last-child {
    border-bottom: none;
}

.nav-links2 a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;


}

.nav-links2 a:hover {
    background-color: #555;
}

.nav-links2 {
    position: fixed;
    top: 0;
    right: -50%;
    height: 100vh;
    width: 30%;
    background-color: #2B3348;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    border-left: 2px solid #555;
}


.nav-links2.active {
    right: 0;
    text-align: left;

}

.nav-links2 li {
    border-bottom: 1px solid #555;
    margin: 0;
}

.nav-links2 li:last-child {
    border-bottom: none;
}

.nav-links2 a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 20px;
    display: block;
}

.nav-links2 a:hover {
    background-color: #2B3348;
}


.burger {
    font-size: 30px;
    color: #2B3348;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1100;
}

body.menu-open {
    overflow-x: hidden;
}

.burger {
    width: 30px;
    height: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}


.burger .line {
    height: 3px;
    width: 100%;
    background-color: #FA996B;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line:nth-child(2) {
    opacity: 0;
}

.burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.btnlang {
    padding: 0 15px 0 15px;
    border-radius: 10px;
    margin-right: -100px;
    border-color: #2B3348;
    color: white;
    background-color: #2B3348;
    font-family: "Hammersmith One", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.btnlang:hover {
    background-color: #FA996B;
    color: #2B3348;
    border-color: #FA996B;
    transform: scale(1.1);
    filter: brightness(1.2);

}

.btnlang {
    transition: transform 0.3s ease, filter 0.3s ease;
    transition: all 0.3s ease;
}

.footimg {
    width: 300px;
    margin-left: 450px;
    margin-top: -70px;
}

.shopan {
    font-size: 48px;
    color: #2B3348;
    font-family: "Hammersmith One", sans-serif;
    text-align: center;
    margin-top: -95px;
}

.button-line {
    margin-top: 95px;
    display: flex;
    gap: 270px;
    justify-content: space-between;
}

.button-shop {
    padding: 10px 37px;
    font-weight: 200;
    border-radius: 10px;
    font-size: 32px;
    font-family: "Hammersmith One", sans-serif;
    cursor: pointer;
    background-color: #f6e366;
    color: #2B3348;
}

.btncolor {
    background-color: #2B3348;
    color: #f6e366;
}

.animal-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 270px;
}

.row {
    display: flex;
    gap: 200px;
    transition: opacity 0.5s ease;
}

.animal-card {
    width: 270px;
    height: 270px;
    border-radius: 10px;
    background-color: #ccc;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1;
}

.animal-card.base {
    background-color: #2B3348;
}

.animal-card img {
    transform: scale(0.95);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.animal-card img.visible {
    transform: scale(1);
    opacity: 1;
}

.animal-card img.hidden {
    transform: scale(0.95);
    opacity: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
    background-color: #fff;
    margin: 8% auto;
    padding: 30px 25px;
    border-radius: 20px;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: scaleUp 0.4s ease-in-out;
    text-align: center;
}

.modal-content h3,
p {
    color: #2B3348;
    font-family: "Montserrat", sans-serif;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

.close-btn,
.close-btn-confirm {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 24px;
    cursor: pointer;
    color: #999;
    font-weight: bold;
    transition: color 0.3s;
}

.close-btn:hover,
.close-btn-confirm:hover {
    color: #FA996B;
}

.donation-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
    color: #2B3348;
    font-family: "Montserrat", sans-serif;

}


.donation-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}


.submit-donation {
    background-color: #FA996B;
    border: none;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    transition: 0.3s;
}

.submit-donation:hover {
    background-color: #f6e366;
    color: #2B3348;
}












@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }
}


.logo img {
    animation: fadeIn 1s ease-in-out, shake 1s ease-in-out 1s;
}

.nav-links a {
    animation: slideInFromRight 0.8s ease-in-out;
    animation-fill-mode: both;
}

.nav-links a:nth-child(1) {
    animation-delay: 0.2s;
}

.nav-links a:nth-child(2) {
    animation-delay: 0.4s;
}

.paw {
    animation: fadeIn 1s ease-in-out, float 3s ease-in-out infinite;
}

.dog-title {
    animation: slideInFromLeft 1s ease-in-out;
}

.subtitle {
    animation: slideInFromLeft 1s ease-in-out 0.3s;
    animation-fill-mode: both;
}



.dog {
    animation: slideInFromRight 1s ease-in-out 0.3s, float 4s ease-in-out infinite 1s;
    animation-fill-mode: both;
}

.decorative-box {
    animation: fadeIn 1s ease-in-out;
}


.square {
    animation: slideInFromBottom 0.8s ease-in-out;
    animation-fill-mode: both;
}

.square:nth-child(1) {
    animation-delay: 0.1s;
}

.square:nth-child(2) {
    animation-delay: 0.2s;
}

.square:nth-child(3) {
    animation-delay: 0.3s;
}

.square:nth-child(4) {
    animation-delay: 0.4s;
}

.square:nth-child(5) {
    animation-delay: 0.5s;
}

.square:nth-child(6) {
    animation-delay: 0.6s;
}

.button-shop {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-shop:hover {
    transform: translateY(-5px);
}

.imgcat,
.imgdog,
.imgothers {
    transition: transform 0.3s ease;
}

.imgcat:hover,
.imgdog:hover,
.imgothers:hover {
    transform: scale(1.1) rotate(5deg);
}

.login-space {
    animation: slideInFromRight 1s ease-in-out;
}

.goldog {
    animation: slideInFromLeft 1s ease-in-out 0.3s, float 4s ease-in-out infinite;
    animation-fill-mode: both;
}

.wk,
.tg {
    transition: transform 0.3s ease;
}

.wk:hover,
.tg:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

section {
    animation: fadeIn 1s ease-in-out;
}

@media (max-width: 768px) {

    .dog {
        display: none;
    }


    .nav-links {
        display: none;
    }


    .hero,
    .subtitle,
    .cta-button,
    .main-title,
    .decorative-text,
    .bestitle,
    .shopan,
    .stay,
    .login2,
    .donatemot,
    .textdon,
    .titlewhy,
    .textwhy,
    .whyyou {
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .hc,
    .hc-1 {
        position: static;
        left: auto;
        bottom: auto;
        margin: 10px auto;
    }

    .cta-button,
    .btn-log,
    .btn-log2,
    .donatebtn,
    .button-shop {
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
    }

    .titlewhy {
        max-width: 90%;
        text-align: center;
    }

    .kidness {
        text-align: center;
        max-width: 90%;
    }

    .donationmotivation {
        text-align: center;
        margin-left: 40px;
    }

    .donatemot {
        text-align: center;
    }

    .bestitle {
        font-size: 20px;
        margin-top: 100px;
    }


    .logo {
        text-align: center;
        width: 100%;
        font-size: 28px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }


    .dog-title {
        font-size: 48px;
        margin: 0 auto 20px auto;
    }

    .subtitle {
        font-size: 18px;
        margin-bottom: 20px;
        white-space: normal;
    }

    .login-space {
        width: 90%;
        margin: 50px auto;
    }

    .btn-log2 {
        margin-left: 0;
        margin-top: 15px;
    }

    .button-line {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin: 30px 0;
    }

    .whyyou {
        max-width: 90%;
    }

    .line-img,
    .imgline,
    .pet1,
    .cutedog,
    .goldog,
    .yellowbl,
    .bluebl,
    .orangebl,
    .decorative-box,
    .img2,
    .human,
    .footimg,
    .catplay,
    .dog-title,
    .news,
    .kidness,
    .donationmotivation,
    .donatemot,
    .circle {
        display: none;
    }

    .login2 {
        margin-bottom: 300px;
    }

    #email {
        margin-top: -230px;
    }

    .stay {
        font-size: 24px;
        margin-top: -30px;
    }

    .donatebtn {
        margin-top: 200px;
        margin-bottom: -20px;
        margin-left: 50%;
    }


    .donation {
        margin-top: 100px;
        margin-bottom: 1000px;
    }

    .donation h3 {
        font-size: 20px;
    }

    .don {
        width: 90%;
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 20px;
    }


    .weare {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .socialbox {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .textt {
        margin: 0 auto 30px auto;
        text-align: center;
    }

    .social-media {
        margin: 100px -20px -30px -20px;
        padding: 50px 20px;
    }

    .footimg {
        width: 80%;
        margin: 30px auto 0 auto;
    }

    .animal-gallery {
        gap: 100px;
    }

    .row {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .animal-card {
        width: 80%;
        height: auto;
    }

    .btnlang {
        margin: 10px auto;
        display: block;

    }

    .nav-links2 {
        width: 100%;
        right: -100%;
    }

    .nav-links2.active {
        right: 0;
    }

}